<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation" position="end">
   <mat-nav-list>
    <a mat-list-item
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Logg inn</span>
    </a>
    <a mat-list-item
      *ngIf="auth.isAuthenticated()"
        routerLink="/">
      <mat-icon class="icon">home</mat-icon>
        <span class="label">Hjem</span>
    </a>
    <a  mat-list-item
      *ngIf="auth.isAuthenticated()"
      (click)="auth.logout()" type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Logg ut</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <a routerLink="/">
           Matplanen
        </a>
      </div>
     <div fxFlex fxHide.gt-xs fxLayoutAlign="flex-end">
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a
                  *ngIf="!auth.isAuthenticated()"
                  (click)="auth.login()">
                  <mat-icon class="icon-more-margin">input</mat-icon>
                  <span  class="label">Logg inn</span>
                 </a>
            </li>
            <li>
              <a
                *ngIf="auth.isAuthenticated()"
                routerLink="/">
                  <mat-icon class="icon-more-margin">home</mat-icon>
                  <span class="label">Hjem</span>
              </a>
            </li>
            <li>
                <a
                *ngIf="auth.isAuthenticated()"
                (click)="auth.logout()" type="button"
                >
                  <mat-icon class="icon-more-margin">input</mat-icon>
                  <span class="label">Logg ut</span>
                 </a>
            </li>
        </ul>
     </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

