  .card {
    word-break: break-word;
    margin: 3px;
    width: 80%;
    min-width: 80%;

    &-settings {
      @extend .card;
      width: 25%;
      min-width: 25%
    }

    &-dish {
      @extend .card;
      width: 60%;
      min-width: 60%;
    }
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 80%;
    max-width: 80%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  a {
    cursor: pointer;
  }

  .icon-food {
    display: inline-flex;
    vertical-align: middle;
  }