<div>
  <div class="container">
    <br>
    <div flex  fxLayoutAlign="center center" *ngIf="!auth.isAuthenticated()">
      <mat-card class="card">
      Logg inn for å bruke matplanen.
      </mat-card>
    </div>
    <div flex fxLayout="column" fxLayoutAlign="start center" *ngIf="auth.isAuthenticated()">
      <mat-card class="card">
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          Matplan
          <a (click)="mixUpTheDishesForTheWeek()" type="button">
            <mat-icon class="icon-food">shuffle</mat-icon>
          </a>
        </mat-card-title>
        <mat-card-subtitle>
          Trykk for å mixe!
        </mat-card-subtitle>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="start center" class="day-of-week"
            *ngFor="let dayOfWeek of dishesOfTheWeek">
            <mat-card class="card mat-elevation-z8">
              <div fxLayout="row" fxLayoutGap=5px>
              <mat-card class="card-dish">
                <mat-card-title>
                  <h3>
                    {{ dayOfWeek.day }}
                  </h3>
                </mat-card-title>  
                <mat-card-subtitle>
                  <h4 *ngIf="!dayOfWeek.isLeftOvers">{{ dayOfWeek.dish }}</h4>
                  <h4 *ngIf="dayOfWeek.isLeftOvers">Rester</h4>
                </mat-card-subtitle>
              </mat-card>

              <mat-card class="card-settings ">
                <mat-card-content>
                  <mat-checkbox (change)="setDayToLeftOvers(dayOfWeek.day, $event.checked)">Rester</mat-checkbox><br>
                  <button mat-stroked-button (click)="mixUpTheDishForTheDay(dayOfWeek.day)">Miks</button>
                  <button mat-stroked-button (click)="findDish(dayOfWeek.day, 'meat')">Kjøtt</button>
                  <button mat-stroked-button (click)="findDish(dayOfWeek.day, 'fish')">Fisk</button>
                  <button mat-stroked-button (click)="findDish(dayOfWeek.day, 'vegetarian')">Vegetar</button>
                </mat-card-content>
              </mat-card>  

            </div>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>