  .card {
    word-break: break-word;
    width: 90%;
    min-width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em 0 1em 0;

    &-dish {
      @extend .card;
      padding-top: 2px;
      padding-bottom: 0;
      margin: 0 0 2px 0;      
      }
    
    &-settings {
      @extend .card;
      padding: 2px;
      min-width: unset;
      width: unset;
    }
  }

  .button {
    border-radius: 13px;

    &-settings {
      @extend .button;
      padding: 0 !important;
      margin-left: 2px !important;
      margin-right: .5em !important;
      margin-bottom: 2px !important;
      min-width: 48px !important;
      line-height: 1.5em;
    }
  }

  .settings-text {
    font-size: 12px !important;
  }

  .settings-container {
    border-style: dashed;
    border-width: thin;
    border-color: grey;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .settings-row {
    margin-bottom: 2px;
  }
  .settings-element {
    margin-right: .5em;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 80%;
    max-width: 80%;
  }
  
  .dish-title {
    min-height: 4em;
  }


  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  a {
    cursor: pointer;
  }

  .icon-food {
    display: inline-flex;
    vertical-align: middle;
  }
